## Data View Methods In Python

In [3]:
import pandas as pd

df = pd.read_csv('\pandas\data\Churn_Modelling.csv')

### View total data

In [4]:
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

### View only first 6 rows

In [6]:
print(df.head(6)) # By defaul it shows 5 rows

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43
5          6    15574012       Chu          645     Spain    Male   44

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1
5       8  113755.78              2          1               0

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
5        149756.71       1

### View last 6 rows

In [7]:
print(df.tail(6))

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
9994       9995    15719294       Wood          800    France  Female   29
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
9994       2       0.00              2          0               0
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
9994        167773.55       0
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

### Index values

In [8]:
print(df.index)

RangeIndex(start=0, stop=10000, step=1)

### Column names

In [9]:
print(df.columns)

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

### describe()

In [ ]:
=> describe() shows a quick statistic summary of your data.

In [28]:
numari_data = df.loc[:, ['CreditScore', 'Age', 'Balance', 'NumOfProducts', 'EstimatedSalary']]

print(numari_data.describe())

print('\n\n DATA : \n',numari_data) # print toStal data

        CreditScore           Age        Balance  NumOfProducts  \
count  10000.000000  10000.000000   10000.000000   10000.000000
mean     650.528800     38.921800   76485.889288       1.530200
std       96.653299     10.487806   62397.405202       0.581654
min      350.000000     18.000000       0.000000       1.000000
25%      584.000000     32.000000       0.000000       1.000000
50%      652.000000     37.000000   97198.540000       1.000000
75%      718.000000     44.000000  127644.240000       2.000000
max      850.000000     92.000000  250898.090000       4.000000

       EstimatedSalary
count     10000.000000
mean     100090.239881
std       57510.492818
min          11.580000
25%       51002.110000
50%      100193.915000
75%      149388.247500
max      199992.480000


 DATA :
       CreditScore  Age    Balance  NumOfProducts  EstimatedSalary
0             619   42       0.00              1        101348.88
1             608   41   83807.86              1        112542.58
2             502   42  159660.80              3        113931.57
3             699   39       0.00              2         93826.63
4             850   43  125510.82              1         79084.10
...           ...  ...        ...            ...              ...
9995          771   39       0.00              2         96270.64
9996          516   35   57369.61              1        101699.77
9997          709   36       0.00              1         42085.58
9998          772   42   75075.31              2         92888.52
9999          792   28  130142.79              1         38190.78

[10000 rows x 5 columns]