In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(10,4), columns=['A', 'B', 'C', 'D'])
print(df)

          A         B         C         D
0 -0.336959  0.094922 -0.140510 -0.542195
1  0.277438 -0.440112  1.639316  0.003275
2  0.785563 -1.985425 -1.584956 -0.266938
3 -0.929277  0.890241 -0.379067  0.618549
4 -0.402185  0.893396 -1.008301 -0.939467
5 -1.340353 -1.377530 -0.334681  0.177652
6  0.888347 -0.515609  0.616714  2.233859
7  0.128376 -0.643427 -0.982805  0.229051
8 -1.619845  0.620687 -0.225607  0.929779
9  1.178107 -0.049454 -0.320948 -1.195132

### Sorting by an axis

In [ ]:
=> sort_index is short the features with column names
=> ascending=False means, it will arrange the column in descending order based on column names.
=> In this function ascending is True by default

In [5]:
df = df_obj.sort_index(axis=1, ascending=False)
print(df)

          D         C         B         A
0 -1.094123 -0.510227  0.531969 -0.693274
1  0.154838 -0.479169 -0.375648 -0.003487
2 -0.768513  1.476849  0.904242 -1.030705
3  0.002303  1.360112  0.136173  0.228475
4  2.030723  1.984445  0.227025 -1.838911
5 -0.893299  1.971664  0.002490 -1.349461
6  0.032269 -0.849247  0.257729 -0.095302
7 -1.924043 -0.634659 -0.144160  1.218562
8 -1.412964 -0.080715  1.094087  1.092555
9 -0.604977 -1.462187 -2.144677 -1.004060

### Sorting by values

In [7]:
df = df.sort_values(by="B")
print(df)

          D         C         B         A
9 -0.604977 -1.462187 -2.144677 -1.004060
1  0.154838 -0.479169 -0.375648 -0.003487
7 -1.924043 -0.634659 -0.144160  1.218562
5 -0.893299  1.971664  0.002490 -1.349461
3  0.002303  1.360112  0.136173  0.228475
4  2.030723  1.984445  0.227025 -1.838911
6  0.032269 -0.849247  0.257729 -0.095302
0 -1.094123 -0.510227  0.531969 -0.693274
2 -0.768513  1.476849  0.904242 -1.030705
8 -1.412964 -0.080715  1.094087  1.092555

### Transposing your data

In [10]:
df.T

,9,1,7,5,3,4,6,0,2,8
D,-0.604977,0.154838,-1.924043,-0.893299,0.002303,2.030723,0.032269,-1.094123,-0.768513,-1.412964
C,-1.462187,-0.479169,-0.634659,1.971664,1.360112,1.984445,-0.849247,-0.510227,1.476849,-0.080715
B,-2.144677,-0.375648,-0.144160,0.002490,0.136173,0.227025,0.257729,0.531969,0.904242,1.094087
A,-1.004060,-0.003487,1.218562,-1.349461,0.228475,-1.838911,-0.095302,-0.693274,-1.030705,1.092555